
div {
  background-color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  margin: 1em;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  margin: 1em;
}
h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1em;
  margin: 1em;
}
#greeting {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  margin: 1em;
}
